.cartContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15rem;
    padding-bottom: 20rem;
    gap: 2rem;
    background-color: rgb(252, 254, 255);
}

.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 80rem;
}

.totalPriceHeader {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(2, 35, 66);
}



.totalImage img, .totalImage {
    width: 10rem;
    margin-right: 3rem;
    padding-left: 1rem;
}

.totalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.totalItem {
    width: 100%;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.totalItem ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.totalItem ul li {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid black;
}

.productsTotalInfo {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
}

.image-info {
    display: flex;
    align-items: center;
    width: 50%;
}

.name-price-quantity-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productsName {
    font-size: 1.4rem;
    font-weight: 600;
}

.productsPrice {
    font-size: 1.4rem;
    letter-spacing: .6px;
    font-weight: 600;
}

.productsQuantity {
    font-size: 1.3rem;
    font-weight: 500;
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    width: 50%;
}

.inc-dec-button {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.quantityButton {
    padding: .1rem .8rem;
    background-color: rgb(2, 35, 66);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity {
    font-size: 1.5rem;
}

.cartRemove {
    font-size: 2.2rem;
    border: none;
    background-color: transparent;
    color: rgb(2, 35, 66);
    cursor: pointer;
}

/* --------------------------------------------------- */

.totalAmount-shipping {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 50rem;
    border: 1px solid black;
    border-radius: 4px;
}

.part1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    border-bottom: 1px solid black;
}

.shipping, .orderTotal, .VAT {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    color: grey;
}

.shipping span {
    text-transform: uppercase;
}

.totalAmount-shipping .line {
    border: .5px solid black;
    width: 100%;
}

.part2 {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

.orderTotal2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(2, 35, 66);
    text-transform: capitalize;
}

.goToCheckOut button {
    width: 30rem;
    height: 5rem;
    border: 1px solid rgb(227, 43, 43);
    border-radius: 6px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(227, 43, 43);
    font-weight: 600;
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color .3s ease-in-out;
}

.goToCheckOut button::before {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(227, 43, 43);
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.goToCheckOut button:hover,
.goToCheckOut button:focus {
    color: white;
}

.goToCheckOut button:hover::before,
.goToCheckOut button:focus::before {
    transform: scaleX(1);
}

.part2 .or {
    font-size: 1.6rem;
    padding: .6rem 0;
}

.paypal button {
    width: 30rem;
    height: 5rem;
    border: 1px solid rgb(34, 103, 169);
    border-radius: 6px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(34, 103, 169);
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
    z-index: 1;
    position: relative;
}

.paypal button::before {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(34, 103, 169);
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.paypal button:hover,
.paypal button:focus {
    color: white;
}

.paypal button:hover::before,
.paypal button:focus::before {
    transform: scaleX(1);
}

.emptyCartMessage {
    font-size: 3rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 2rem;
    border: 1px solid rgb(2, 35, 66);
    border-radius: 5px;
    width: 50rem;
    height: 10rem;
    color: rgb(2, 35, 66);
}

.emptyIcon {
    color: rgb(34, 103, 169);
    font-size: 4rem;
}

.part3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;
}

.freeShippingInfo {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.freeReturns {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.security {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.part3 span {
    font-size: 1.7rem;
}

@media (max-width: 800px) {
    .total {
        width: 60rem;
    }
}

@media (max-width: 600px) {
    .total {
        width: 50rem;
    }
}

@media (max-width: 500px) {
    .total {
        width: 30rem;
    }

    .totalImage .image-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .totalItem ul li {
        width: 100%;
        height: 25rem;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 1px solid black;
    }
    
    .productsTotalInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
        width: 100%;
        height: 100%;
    }
}