.homeContainer {
    width: 100%;
    height: 100vh;
    margin-top: 10rem;padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeImage img {
    width: 60rem;
}

.homeContainer .info {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.info h1 {
    font-size: 7.5rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: rgb(20, 114, 164);
}

.info h4 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: rgba(75, 75, 75, 0.869);
}

.info p {
    width: 60rem;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: .5px;
    color: black;
}

.info .button .btn {
    padding: 1.5rem 4rem ;
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 92, 148);
    color: white;
    cursor: pointer;
    transition: all .6s ease;
}

.info .button .btn:hover {
    background-color: rgb(26, 97, 212);
}