.searchContainer {
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 5rem;
}

.header-searchBar {
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 10rem;
}

.header-searchBar .closeSearchBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  cursor: pointer;
}

.header-searchBar h1 {
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgb(16, 55, 94);
}

.header-searchBar .searchBarContainer form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-searchBar .searchBarContainer .searchBar {
  display: flex;
  align-items: center;
  position: relative;
}

.header-searchBar .searchBarContainer .searchBar input {
  width: 55rem;
  height: 5rem;
  padding-left: 2rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  border-radius: 25px;
  border: 1px solid rgb(37, 92, 148);
  color: rgb(16, 55, 94);
  outline: none;
}

.header-searchBar .searchBarContainer .searchBar .searchBarIcon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  font-size: 2.2rem;
  color: rgb(37, 92, 148);
}

.header-searchBar .searchBar-button .btn {
  width: 10rem;
  height: 4.5rem;
  border: 1.5px solid rgb(16, 55, 94);
  border-radius: 25px;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

.header-searchBar .searchBar-button .btn:hover {
  background-color: rgb(16, 55, 94);
  color: white;
}

.searchedProductsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 3rem;
  width: 100%;
  padding: 0 10rem;
}

.filteredProductImage img {
  width: 20rem;
  height: 20rem;
}

.searchedProductsContainer .product {
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.filteredProductName {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.filteredProductPrice {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.filteredProductButton .btn {
  padding: 1rem 3rem;
  border: 1.5px solid rgb(16, 55, 94);
  border-radius: 8px;
  color: rgb(16, 55, 94);
  font-size: 1.4rem;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.7s ease;
}

.filteredProductButton .btn:hover {
  background-color: rgb(37, 92, 148);
  color: white;
}

@media (max-width: 1024px) {
  .header-searchBar h1 {
    font-size: 3.5rem;
  }
  .header-searchBar .searchBarContainer .searchBar input {
    width: 33rem;
  }
}